<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game Detail</title>
</head>
<body>
    <h2>Game Detail</h2>
    <h4>{{game}}</h4>
    <p>Number of players: {{ game.number_of_players }}</p>
    {% if game.age_range %}
    <p>Age Range: {{ game.age_range }}</p>
    {% endif %}
    <a href="{% url 'delete-game' game.pk %}">DELETE</a>
</body>
</html>